.profile-image img {
  border: 4px solid #fff;
}
.media-left {
  padding-right: 20px;
}
.img-radius {
  border-radius: 5px;
}
.card-block.user-info {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.card-block {
  padding: 1.25rem;
}
.cover-profile .profile-bg-img {
  margin-bottom: 25px;
}
.profile-bg-img {
  width: 100%;
}
<<<<<<< HEAD
=======

>>>>>>> 09005f6219d70bc53af46cf010a37e9323643ef7
.user-info .media-body, .user-info .media-left {
  display: table-cell;
  vertical-align: middle;
}
.user-title h2 {
  color: #fff;
  text-shadow: 1px 1px 4px #373a3c;
  font-size: 20px;
}

.table td, .table th {
<<<<<<< HEAD
   padding: 0.75rem 0.75rem;
=======
   padding: 0.75rem 0.75rem; 
>>>>>>> 09005f6219d70bc53af46cf010a37e9323643ef7
}

spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
<<<<<<< HEAD

=======
  
>>>>>>> 09005f6219d70bc53af46cf010a37e9323643ef7
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
<<<<<<< HEAD
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
=======
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
>>>>>>> 09005f6219d70bc53af46cf010a37e9323643ef7
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
<<<<<<< HEAD
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
=======
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
>>>>>>> 09005f6219d70bc53af46cf010a37e9323643ef7
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.rectangle-bounce div {
  height: 100%;
  width: 7px;
  margin: 0 3px 0 0;
  background-color: #ae8787;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
